/*csslint ids: false,  box-model: false*/
/*********
general
*********/
body {
    font-family: 'open sans', sans-serif;
}
#bloodborne {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}
img {
    max-width: 100%;
}
h3 {
    margin: 0 0 1em 0;
}
/*********
header
*********/
header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}
#logo {
    text-align: center;
    margin: 0;
}
h1 {
    font-family: 'Anton', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
}
h2 {
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}
/*********
navigation
*********/
nav {
    text-align: center;
    padding: 5px 0;
    margin: 20px 0 0;
}
nav ul {
    list-style: center;
    padding: 10px 0;
    margin: 0 10px;
}
nav li  {
    display: inline-block;
}
nav a {
    font-weight: 800;
    padding: 15px 10px;
}
/*********
footer
*********/
footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
    clear: both;
}
.icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}
/*********
page portfolio
*********/
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #ff8b0f;
    color: #ffffff;
}
#gallery li a p  {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: blue;
}
/*********
about me page
*********/
.page-protfolio {
    display: block;
    max-width: 30px;
    border-radius: 125%;
}
/*********
contact page
*********/
.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}
.contact-info .mail a {
    background-image: url('../img/mail.jpg');
}
/*********
color
*********/
body {
    background-color: white;
    color: #6bff8e;
}
h1 {
  color: crimson;
}
a {
    color: #47b9ff;
}
header {
    background: #47b9ff; 
}
h1, h2 {
    color: #fff;
}
nav {
    background: #ff7b00;
}
nav a, nav a:visited {
    color: #fff;
}
nav .selected, nav a:hover {
    color: #c70000;
}
/*********
media querie
*********/
@media screen and (min-width: 480px) {
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 20%;
        float: right;
            
    }
    #gallery {
        width: 28.3333%;
    }
}